<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title><%= title %></title>
</head>

<body style="font-family: Arial, Helvetica; color: #1a1a1a">
  <img src="cid:logo.png" alt="BC Parks" title="BC Parks Logo" style="margin: 8px 16px 0px 0px;" width="150" />

  <span style="display:inline-block;font-size:16pt;white-space:nowrap;margin-top:10px;color:#003366;">
    &nbsp;Staff web portal
  </span>

  <p style="font-size: 16pt">
    <%= title %>
  </p>

  <p style="font-size:13pt;margin-bottom:12px;">
    <strong>Urgency level:</strong>
    <%= data.urgency.urgency.toLowerCase() %>
  </p>

  <p style="font-size:18pt;font-weight:bold;margin:0;">
    <%= data.title %>
  </p>

  <% data.fireCentres.forEach((val) => { %>
  <span style="display: inline-block; text-align: center; background-color: #c7e3fd; color: #003366; margin-bottom: 8px; margin-right: 8px;">
    <span style="display: inline-block; color: #003366; border-color: #c7e3fd; border-width: 5px 10px; border-style: solid; white-space: nowrap;">
      <%= val.fireCentreName %>
    </span>
  </span>
  <% }) %>

  <% data.fireZones.forEach((val) => { %>
  <span style="display: inline-block; text-align: center; background-color: #c7e3fd; color: #003366; margin-bottom: 8px; margin-right: 8px;">
    <span style="display: inline-block; color: #003366; border-color: #c7e3fd; border-width: 5px 10px; border-style: solid; white-space: nowrap;">
      <%= val.fireZoneName %>
    </span>
  </span>
  <% }) %>

  <% data.naturalResourceDistricts.forEach((val) => { %>
    <span style="display: inline-block; text-align: center; background-color: #c7e3fd; color: #003366; margin-bottom: 8px; margin-right: 8px;">
      <span style="display: inline-block; color: #003366; border-color: #c7e3fd; border-width: 5px 10px; border-style: solid; white-space: nowrap;">
        <%= val.naturalResourceDistrictName %>
      </span>
    </span>
    <% }) %>

  <% data.regions.forEach((val)=> { %>
  <span style="display: inline-block; text-align: center; background-color: #c7e3fd; color: #003366; margin-bottom: 8px; margin-right: 8px;">
    <span style="display: inline-block; color: #003366; border-color: #c7e3fd; border-width: 5px 10px; border-style: solid; white-space: nowrap;">
      <%= val.regionName %> Region
    </span>
  </span>
  <% }) %>

  <% data.sections.forEach((val) => { %>
  <span style="display: inline-block; text-align: center; background-color: #c7e3fd; color: #003366; margin-bottom: 8px; margin-right: 8px;">
    <span style="display: inline-block; color: #003366; border-color: #c7e3fd; border-width: 5px 10px; border-style: solid; white-space: nowrap;">
      <%= val.sectionName %> Section
    </span>
  </span>
  <% }) %>

  <% data.managementAreas.forEach((val) => { %>
  <span style="display: inline-block; text-align: center; background-color: #c7e3fd; color: #003366; margin-bottom: 8px; margin-right: 8px;">
    <span style="display: inline-block; color: #003366; border-color: #c7e3fd; border-width: 5px 10px; border-style: solid; white-space: nowrap;">
      <%= val.managementAreaName %> Management Area
    </span>
  </span>
  <% }) %>

  <% if (data.fireCentres.length || data.fireZones.length || data.naturalResourceDistricts.length || data.regions.length || data.sections.length || data.managementAreas.length) { %>
  <span style="white-space:nowrap;display:inline-block;margin-top:10px;">
    <%= data.protectedAreas.length %> parks affected
  </span>
  <% } else { %>
  <p style="margin-top: 4px">
    <% data.protectedAreas.forEach((val) => { %>
    <a style="color:#2464a4!important;margin-right:4px;" href="<%= publicUrl %>/<%= val.slug %>">
      <%= val.protectedAreaName %>
    </a>
    <% }) %>
    <% data.sites.forEach((val) => { %>
    <a style="color:#2464a4!important;margin-right:4px;" href="<%= publicUrl %>/<%= val.protectedArea.slug %>/<%= val.slug %>">
      <%= val.siteName %>
    </a>
    <% }) %>
  </p>
  <% } %>


  <div style="margin-top: 32px">
    <%- data.description %>

    <% data.standardMessages.forEach((val)=>{ %>
    <%- val.description %>
    <% }) %>
  </div>

  <p style="margin-top: 32px">
    <% data.links.forEach((val) => { %>
    <a href="<%= val.url %>" style="color:#2464a4!important;">
      <%= val.title %>
    </a>
    <br />
    <% }) %>
  </p>

  <% if (dateLabel && dateString) { %>
  <p style=" margin-top: 32px">
    <%= dateLabel %> <%= dateString %>
  </p>
  <% } %>

  <hr />

  <% if (data.note) { %>
  <p style="margin-top: 32px">
    <strong>Internal notes:</strong>
    <%- data.note %>
  </p>
  <% } %>

  <span style="display: inline-block; text-align: center; background-color: #003366; border: 1px solid #002447; color: white;">
    <span style="display: inline-block; background-color: #003366; color: white; border-width: 1px 0 0 1px; border-color: #0070e0; border-style: solid;">
      <a style="display: inline-block; text-decoration: none; color: white; border-color: #003366; border-width: 5px 15px; border-style: solid; white-space: nowrap;" 
      href="<%= adminUrl %>/advisory-link/<%= advisoryNumber %>">
        Manage advisory
      </a>
    </span>
  </span>

</body>

</html>